{
  "overrides": [
    {
      "files": ["*.html", "**/*.js"],
      "options": {
        "semi": true,
        "singleQuote": false,
        "tabWidth": 4,
        "printWidth": 1200,
        "trailingComma": "none"
      }
    }
  ]
}
